# configuracion de la base de datos

DB_SERVER= host.docker.internal
DB_PORT=1433
DB_NAME=HerreraSystem
DB_USER=sa
DB_PASSWORD=Cambiar_Esta_Clave123!

# configuracion de JWT
JWT_SECRET_KEY=whVbOfKjgO94KneZvxelxxmXi8bWgCmdebm5Wef3
JWT_ISSUER=Https://sorbeteriaherrera.com
JWT_AUDIENCE=Https://sorbeteriaherrera.com
